## 1. Perulangan / Looping
Sintaks yang digunakan untuk menjalankan sebuah kode program secara berulang kali hingga step yang ditentukan

In [4]:
#sintaks for
# range(start,end,step)
for i in range (0,10,2):
    print(i, "=", i**2)

0 = 0
2 = 4
4 = 16
6 = 36
8 = 64

In [7]:
#sintaks While
i = 0 
while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

## 2. List
Tipe data yang digunakan untuk menyimpan beberapa nilai dalam satu variabel

In [12]:
#Deklasrasi List

#Dapat berisi angka
nilai = [50, 40, 30, 60,80,70, 90]
print (nilai)

#Dapat berisi string
peserta = ['Ani','Budi','Catra','Desi']
print(peserta)

#Dapat berisi campuran
campuran = ['Big', 2.5, 12, 'Data']
print(campuran)

[50, 40, 30, 60, 80, 70, 90]
['Ani', 'Budi', 'Catra', 'Desi']
['Big', 2.5, 12, 'Data']

### 2.1 List Index
Untuk mengakses elemen tertentu di dalam list, kita dapat menggunakan list index. Index list dimulai dari 0. Index di dalam python juga dapat dibuat negatif, yang artinya index akan ditelusuri dari belakang

In [14]:
print(nilai[0])
print(nilai[4])
print(peserta[-2])

50
80
Catra

### 2.2 Menambah Elemen ke Dalam List

In [15]:
nilai.append(27)
print(nilai)

[50, 40, 30, 60, 80, 70, 90, 27]

In [17]:
peserta.append('Aditya')
print(peserta)

['Ani', 'Budi', 'Catra', 'Desi', 'Aditya', 'Aditya']

### 2.3 Slicing List
Slicing digunakan untuk memilih beberapa kelompok nilai dari list dengan memanfaatkan range index

In [20]:
#print("namavariabel"["nilai awal":"nilai akhir"])

# elemen ke 3 sampai ke 5 
print(nilai[2:5])

# diambil dari elemen pertama sampai ke 5 yg diambil dari belakang
print(nilai[:-5])

#diambil dari elemen pertama sampai ke 5 yg diambil dari depan
print(nilai[5:])

#dari awal sampai akhir
print(nilai[:])

[30, 60, 80]
[50, 40, 30]
[70, 90, 27]
[50, 40, 30, 60, 80, 70, 90, 27]

### 2.4 Perulangan dalam List
Dalam mengakses setiap elemen dalam list, kita dapat menggunakan sintaks perulangan for yang telah kita pelajari sebelumnya

In [27]:
for n in nilai:
    print(n**2)
    
#menampilkan indeks nya
for i,n in enumerate(nilai):
    print(i,n)

2500
1600
900
3600
6400
4900
8100
729
0 50
1 40
2 30
3 60
4 80
5 70
6 90
7 27

##### Contoh
Berapakah rata-rata nilai dari list tersebut?

In [31]:
#ALGORITMA RATA-RATA

total = 0
for n in nilai:
    total = total + n
    
rata = total / len(nilai)
print(total)
print(nilai)
print(rata)

447
[50, 40, 30, 60, 80, 70, 90, 27]
55.875

#### Lookup Nilai dalam List

In [33]:
n = 90
if n in nilai:
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

90 ada dalam list

### 2.5 Latihan
Tampilkan Nilai yang Lebih dari sama dengan rata-ratanya

In [42]:
print(rata)
for n in nilai:
    if n>=rata:
        print(n)

55.875
60
80
70
90

## 3. Tuple
Tuple merupakan tipe data yang mirip dengan list, namun berifat immutable atau tidak dapat ditambah dan diubah nilainya. Keuntungan dari penggunaan tuple adalah, pengaksesan datanya lebih cepat.

In [43]:
bulan = ("Januari","Februari","Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember")
print(bulan)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

## 4. Dictionary
Dictionary dalam Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

### 4.1 Membuat dan Mengakses Dictionary

In [58]:
siswa1 = {'Nama': 'Budi', 'Umur':15, 'JenisKelamin': 'Laki-laki' }
siswa2 = {'Nama': 'Ani', 'Umur':14, 'JenisKelamin': 'Perempuan' }

print(siswa2)
print(siswa1['Nama'])
print(siswa2['Umur'])
print(siswa2['JenisKelamin'])

list_siswa = []
list_siswa.append(siswa1)
list_siswa.append(siswa2)
print(list_siswa)
print(list_siswa[1])

{'Nama': 'Ani', 'Umur': 14, 'JenisKelamin': 'Perempuan'}
Budi
14
Perempuan
[{'Nama': 'Budi', 'Umur': 15, 'JenisKelamin': 'Laki-laki'}, {'Nama': 'Ani', 'Umur': 14, 'JenisKelamin': 'Perempuan'}]
{'Nama': 'Ani', 'Umur': 14, 'JenisKelamin': 'Perempuan'}

### 4.2 Mengubah nilai Dictionary

In [61]:
siswa2['Nama']='Lia'
print(siswa2)

{'Nama': 'Lia', 'Umur': 14, 'JenisKelamin': 'Perempuan'}

### 4.3 Menambahkan Elemen

In [62]:
siswa1['Alamat'] = "Jl. Kaliurang KM 5"
print(siswa1)

{'Nama': 'Budi', 'Umur': 15, 'JenisKelamin': 'Laki-laki', 'Alamat': 'Jl. Kaliurang KM 5'}

In [77]:
# List sebagai nilai dari elemen Dictionary
siswa1["Nilai"] = nilai
print(siswa1)

#menampilkan nilai dari dictinary tersebut
for n in siswa["Nilai"]:
    print(n)
    
#menampilkan indeks dari dictionary
for k,v in siswa.items():
    print(k,v)
    
for l in list_siswa:
    print("=======")
    for k,v in siswa2.items():
        print(k,v)

{'Nama': 'Budi', 'Umur': 15, 'JenisKelamin': 'Laki-laki', 'Alamat': 'Jl. Kaliurang KM 5', 'Nilai': [50, 40, 30, 60, 80, 70, 90, 27]}
50
40
30
60
80
70
90
27
Nama Budi
Umur 15
JenisKelamin Laki-laki
Nilai [50, 40, 30, 60, 80, 70, 90, 27]
=======
Nama Lia
Umur 14
JenisKelamin Perempuan
=======
Nama Lia
Umur 14
JenisKelamin Perempuan

## 5. Operasi String
Pada pertemuan sebelumnya telah dijelaskan mengenai string. Dalam python cukup banyak operasi yang dikenakan pada string, yang akan berguna dalam analisis data.

### 5.1 Slicing dan Akses per Karakter

In [69]:
nama = "Tutorial Bahasa Pemrograman Python"
print(nama[0:6])
print(nama[20:30])

Tutori
ograman Py

### 5.2 Merubah String menjadi list Kata
Menggunakan fungsi split. Fungsi split dapat diberikan parameter berupa karakter pemisahnya. Jika tidak diberikan parameter maka secara default, pemisahnya adalah spasi.

In [87]:
kata = nama.split()
print(kata)
print(kata[0])
print(kata[2])


paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
kalimat = paragraf.split(".")
print(kalimat)
print(kalimat[2])

['Tutorial', 'Bahasa', 'Pemrograman', 'Python']
Tutorial
Pemrograman
['Pada hari minggu kuturut ayah ke kota', ' Naik Delman istimewa kududuk di muka', ' Duduk disamping pak kusir yang sedang bekerja']
 Duduk disamping pak kusir yang sedang bekerja

### 5.3 Pencarian kata dalam String

In [80]:
cari = 'Python'
if cari in nama:
    print("Found!")
else:
    print("Not Found!")

Found!

### 5.4 Replace String

In [81]:
paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
paragraf = paragraf.replace('minggu','senin')
paragraf = paragraf.replace('ayah','ibu')
print(paragraf)

Pada hari senin kuturut ibu ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja

### 5.5 Panjang String, Lowercase, Uppercase

In [88]:
print(len(nama))
print(nama.upper())
print(nama.lower())

34
TUTORIAL BAHASA PEMROGRAMAN PYTHON
tutorial bahasa pemrograman python

### LATIHAN 2
Diberikan sekumpulan Nilai Random antara 0 sampai dengan 100 sebanyak 250 nilai. Buatlah program untuk melakukan hal berikut:

1. Tampilkan Angka Ganjil dari ke 50 nilai tersebut
2. Tampilkan berapa banyak yang mendapatkan nilai lebih dari 70
3. Tampilkan standar deviasi dari sekumpulan nilai tersebut
4. Tampilkan nilai maksimum dan minimum
5. Tampilkan modus dari sekumpulan nilai tersebut

In [ ]:
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

# TAMPILKAN:
# ganjil
# nilai > 70
# standar deviasi
# maksimum
# minimum
# modus

### LATIHAN 3 - Word Count
Diberikan sebuah paragraf, hitunglah banyak kemunculan masing-masing kata. Contoh : "Presiden pagi ini melakukan kunjungan ke Jogja"

     Presiden: 1
     pagi: 1
     ini: 1
     melakukan: 1
     kunjungan: 1
     ke: 1
     Jogja: 1

hints: Gunakan Dictionary dalam menyimpan word count. Gunakan kata sebagai key, dan jumlah kemunculan sebagai value

In [ ]:
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
print(paragraf)